/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Global */
:root{
    --screen-height: 100vh;
    --full-width: 100%;
    --full-height: 100%;
    --title-padding-lf: 40px;
    --title-padding-ud: 20px;
    --img-size: 120px;
    --chart-font-size: 18px;
    --chart-padding-lf: 10px;
    --chart-padding-ud: 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body {
    width: var(--full-width);
    height: var(--full-height);
    position: relative;
}

.title {
    min-width: 160px;
    height: calc(var(--screen-height));
    padding: var(--title-padding-ud) var(--title-padding-lf);
    display: inline-block;
    text-align: center;
    transition: all 1s ease;
}
.title img{
    width: var(--img-size);
    height: var(--img-size);
}
.title span{
    font-size: 16px;
    font-weight: 400;
    color: #6a6a6a;
}
.chart {
    background-color: #bdbdbd;
    min-width: 450px;
    width: calc(var(--full-width) - 2 * var(--title-padding-lf) - var(--img-size));
    height: calc(var(--screen-height));
    padding: var(--chart-padding-ud) var(--chart-padding-lf);
    display: inline-block;
    position: absolute;
    top: 0;
}
.chart span{
    font-size: var(--chart-font-size);
}
.chart select{
    font-size: var(--chart-font-size);
}


@media (max-width: 800px) {
    .title{
        min-width: 450px;
        width: var(--full-width);
        height: var(--full-height);
    }
    .title img{
        width: calc(var(--img-size) + 80px);
        height: calc(var(--img-size) + 80px);
    }
    .chart{
        width: var(--full-width);
        position: relative;
    }
}
@media (max-width: 450px) {
    /* 處理圖表座標軸遮蓋問題 */
}
