/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Global */
:root{
    --full-height: 100%;
    --full-width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body {
min-height: var(--full-height);
width: var(--full-width);
position: relative;
}


.title {
    text-align: center;
    background-color: #123123;
}

/* 
@media (max-width: 1018px) {}
@media (max-width: 820px) {}
@media (max-width: 560px) {}
@media (max-width: 480px) {}
*/